<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 bg-dark" style="height: 93vh">
      <mat-card>
        <form [formGroup]="todoFrom">
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input formControlName="item" matInput placeholder="Placeholder" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <br />
          <button
            *ngIf="!isEditable"
            (click)="addTasks()"
            type="button"
            class="btn btn-primary"
            [disabled]="todoFrom.invalid"
          >
            save
          </button>
          <button
            *ngIf="isEditable"
            (click)="updateTask()"
            type="button"
            class="btn btn-primary"
            [disabled]="todoFrom.invalid"
          >
            Update
          </button>
        </form>
      </mat-card>
    </div>
    <div class="col-md-9">
      <div cdkDropListGroup>
        <div class="row">
          <div class="col-md-3">
            <div class="example-container">
              <h2>
                To do <span *ngIf="tasks.length > 0">{{ tasks.length }}</span>
              </h2>
              <div
                cdkDropList
                [cdkDropListData]="tasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of tasks; let i = index"
                  cdkDrag
                >
                  {{ item.description }}

                  <button (click)="deleteTask(i)">
                    <mat-icon class="bg-danger">remove</mat-icon>
                  </button>
                  <button (click)="onEdit(item, i)">
                    <mat-icon class="primary">edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="example-container">
              <h2>
                To IN PROSSRESS
                <span *ngIf="inprogress.length > 0">{{
                  inprogress.length
                }}</span>
              </h2>
              <div
                cdkDropList
                [cdkDropListData]="inprogress"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of inprogress; let i = index"
                  cdkDrag
                >
                  {{ item.description }}

                  <button (click)="deleteInprogress(i)">
                    <mat-icon class="bg-danger">delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="example-container">
              <h2>
                To Done <span *ngIf="done.length > 0">{{ done.length }}</span>
              </h2>
              <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of done; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <button (click)="deleteDoneTask(i)">
                    <mat-icon class="bg-danger">remove</mat-icon>
                  </button>
                  <button>
                    <mat-icon class="primary">check_circle</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
